@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: black;
}

ul {
    display: flex;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 3px 10px rgb(70, 70, 70);
}

li {
    color: white;
    font-weight: bold;
    font-size: 20px;
    list-style: none;
    flex-grow: 1;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    transform: scale(0.9);
}

li:hover {
    color: red;
    transform: scale(1);
}

.nav-active {
    color: red;
    transform: scale(1);
}

#board {
    background: linear-gradient(45deg, #ED0A3F, #FF5349);
    margin-top: 50px;
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgb(70, 70, 70);
}

h1 {
    font-family: 'Ms Madi', cursive;
    font-size: 70px;
    color: white;
    margin: 20px 0;
    padding: 0;
    letter-spacing: 3px;
    text-shadow: 3px 3px 2px black;
}

#container {
    width: 70%;
    height: 70%;
    background-color: lightgray;
    flex-shrink: 0;
    display: grid;
    grid-gap: 1px;
}

.pixel {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

#buttons {
    height: 10%;
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.button {
    width: 80px;
    height: 80px;
    background-color: gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: dotted rgb(70, 70, 70) 3px;
    box-shadow: 2px 2px 3px black, -2px -2px 3px black;
}